<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="FOLA-BN2001-RBS">
  <link
    name="base_footprint">
    <inertial>
      <origin
        xyz="-0.0864242591066868 -0.00346348487292465 0.463373223627106"
        rpy="0 0 0" />
      <mass
        value="49.3500739191057" />
      <inertia
        ixx="2.3568918756758"
        ixy="0.0018985016590536"
        ixz="0.0498245785243771"
        iyy="1.67367184480649"
        iyz="-0.00500741582869712"
        izz="1.80380373769356" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FOLA-BN2001-RBS/meshes/base_footprint.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FOLA-BN2001-RBS/meshes/base_footprint.STL" />
      </geometry>
    </collision>
  </link>
</robot>